html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-image: url('../img/bg.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ffeded;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Architects Daughter', cursive;
  min-width: 20rem;
}

.overlay {
  background: rgba(0,0,0,0.4);
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: opacity .2s ease-in;
}

h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 2.5rem;
  font-variant: small-caps;
  font-weight: bold;
  color: #ffeded;
  margin-left: 1rem;
}

#main-container {
  width: 75%;
  clear: both;
  padding: 0;
  margin: 0;
}

section {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  background-color: #ffffed;
}

#todo-filter {
  width: 28%;
  margin-bottom: 2rem;
}

#todo-tasks {
  width: 68%;
}

@media only screen and (max-width: 480px) {
  #main-container {
    width: 90%;
  }
  #todo-filter, #todo-tasks {
    width: 100%;
  }
}

#todo-filter ul {
  padding-left: 0.8rem;
  list-style: none;
}

#todo-filter ul li {
  color: black;
  text-decoration: none;
}

#todo-filter ul li:active,
#todo-filter ul li:hover {
  color: #8b0000;
  font-weight: bold;
  cursor: pointer;
}

#tasks-header {
  margin-top: -32px;
  color: #ffeded;
  font-size: 23px;
}

#addNewBtn {
  background-color: #f69278;
  border: 1px solid #f47f60;
  color: white;
  padding: 0.35rem 0.55rem;
  font-size: 14px;
  cursor: pointer;
  float: right;
}

#addNewBtn:hover,
#modalAddBtn:hover,
#viewCompletedBtn:hover {
  background-color: #f47f60;
}

#viewCompletedBtn {
  background-color: #f69278;
  border: 1px solid #f47f60;
  color: white;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem 0.4rem;
  font-size: 12px;
  cursor: pointer;
}

#completed-task-list {
  display: none;
  margin-top: -1rem;
}

#task-modal {
  display: none;
  position: absolute;
  margin: 0.5rem 0.5rem;
  background-color: white;
  border: 1px solid #924c39;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 45%;
  max-width: 30rem;
  padding: 1rem;
  z-index: 3;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 480px) {
  #task-modal {
    width: 60%;
    min-width: 12rem;
  }
}

#task-input {
  width: 96%;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid #924c39;
}

#modalSaveBtn {
  background-color: #f69278;
  border: 1px solid #f47f60;
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 14px;
  cursor: pointer;
}

#modalCancelBtn {
  background-color: #bdbdbd;
  border: 1px solid #a8a8a8;
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 14px;
  cursor: pointer;
}

#modalCancelBtn:hover {
  background-color: #a8a8a8;
}

#modal-buttons {
  float: left;
}

#modal-icons {
  float: right;
}

#modal-icons span {
  margin-top: 0.4rem;
  color: #f47f60;
  font-size: 20px;
  vertical-align: middle;
}

#modal-icons span:hover {
  color: #924c39;
}

#datepicker {
  margin-top: -1rem;
  padding-left: 0.2rem;
  width: 4.6rem;
}

.task-list ul li {
  list-style: none;
  margin: 0.5rem 1rem 0.5rem -1.5rem;
  padding: 0.3rem 0.5rem;
  background-color: #fddfd8; /* #fbccc0 */
}

.task-list ul li i {
  text-decoration: none;
  color: #924c39;
  cursor: pointer;
}

.itemCheckbox i {
  padding-top: 0.4rem;
}

.starItem, .itemDate, .editItem, .deleteItem {
  float: right;
  padding-top: 0.2rem;
  padding-left: 0.4rem;
}

.itemDate {
  padding-right: 2px;
  padding-top: 0.3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.task-list .starItem i {
  cursor: auto;
}
